<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <script id="jaunts-template" type="text/template">
      <form v-on:submit.prevent="addJaunt">
          <div class ='panel panel-primary'>
          <div class = 'panel-heading'> Jaunt Title: </div>
          <div class = 'panel-body'>
          <input type="text" v-model="jauntTitle" class="form-control"placeholder="Give this jaunt a name"></input>
          </div>
          </div>
          <div class ='panel panel-primary'>
          <div class = 'panel-heading'> Jaunt Description: </div>
          <div class = 'panel-body'>
          <textarea v-model="jauntDescription" class="form-control" placeholder="Tell us about what you do on this jaunt..."></textarea>
          </div>
          </div>
          <div class ='panel panel-info'>
          <div class = 'panel-heading'> Add a location: </div>
          <div class = 'panel-body'>
          <input type="text" id="addLocation" style="width: 250px" placeholder="Search for a location" class="form-control"/>
          </div>
          </div>
          </div>
          <div class = 'panel panel-primary' v-for="(index, location) in locations">
          <div class = 'panel-heading'> {{location.name}}: {{location.address}}</div>
          <div class = 'panel-body'>
            <br>
            <textarea v-model="locations[index].description" class="form-control" placeholder="Tell us why this place is great"></textarea>
          </div>
          </div>
          <div>
          <div>
          <input type="submit" value="Create Jaunt" class="btn btn-primary" > </input>
          </div>
        </form>
      </script>
    </div>
  </div>
