<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <script id="jaunts-template" type="text/template">
      <form v-on:submit.prevent="addJaunt">
        <ul>
          <li>
          <span>Jaunt Title: </span>
          <input type="text" v-model="jauntTitle" class="form-control"></input>
          </li>
          <div v-for="location in locations">
               {{location}}
          </div>
          <li>
          <input type="text" id="addLocation" style="width: 250px" placeholder="Add a location" class="form-control"/>
          </li>
          <li>
          <input type="submit" value="Create Jaunt" class="btn btn-primary" > </input>
          </li>
        </ul>
      </script>
    </div>
  </div>
  <!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRnu5-lREeEF4SJaDJOnNIpAMItFKHqZ8&libraries=places"></script> -->
  <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRnu5-lREeEF4SJaDJOnNIpAMItFKHqZ8&libraries=places"></script> -->
