<script id="search-jaunt-template" type="text/template">

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h2 style="color: #fff">Search a Location by Address</h2>
        <input class="form-control" id="autocomplete" v-el:auto-complete  placeholder="Search Jaunts" type="text"></input>
      </div>
        <div class="panel-body">
          <div class="panel panel-primary" v-for="jaunt in jaunts">
            <div class="panel-heading">
              <a href= "/show/{{jaunt.id}}"><h2 style="color: #fff">{{jaunt.title}}</h2></a>
            </div>
            <div class="panel-body">
              <div class='row'>
                <div class="col-md-6">
                  <div class="well">
                    <span>{{jaunt.description}}</span>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="well">
                    <ul>
                      <li v-for="location in jaunt.locations">location.name</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</script>





















