<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="row">
        <h1 class="jumbotron"> <%= @user.name %>'s Jaunts </h1>
      </div>

      <% current_user.jaunts.each do |jaunt| %>
        <div class="panel panel-primary">
          <div class="panel-heading">
            <span> <%= link_to jaunt.title, show_jaunt_path(jaunt), {:style=>'color:#FFFFFF;', :class => "css_class"} %> </span>
          </div>
          <div class="panel-body">
            <div class = "well well-lg"><%= jaunt.description %></div>
            <p></p>
          </div>
        </div>
      <% end %>
    </div>
