<%= image_tag("jaunt.jpg",class: "homeimage") %>
<div class="container">
  <div class="landingIcons">
    <div id="icons">
      <br>
      <%= link_to 'Find a Jaunt', jaunts_path ,:class => "btn btn-primary" %>
      <%= link_to 'Create a Jaunt', new_jaunt_path ,:class => "btn btn-primary" %>
    </div>

  </div>
</div>

