<div class="container">
  <div id="searchbar">
    <div id="locationField">
      <input id="autocomplete" placeholder="Search Jaunts" type="text"></input>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <% @jaunts.each do |jaunt| %>
        <div class="panel panel-info">
          <div class="panel-heading">
            <h2> <%= link_to jaunt.title, show_jaunt_path(jaunt) %> </h2>
          </div>
          <div class="panel-body">
            <h2> <%= jaunt.description  %></h2>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>

    google.maps.event.addDomListener(window, 'load', function () {
      var places = new google.maps.places.Autocomplete(autocomplete)
      google.maps.event.addListener(places, 'place_changed', function () {
        var place = places.getPlace()
        var address = place.formatted_address
        if (!address){ return false }

        $.ajax({
        method: "POST",
        url: "/index",
        data: { address }
      }).then(function() { window.location.replace("/show/" + gon.greg)})
      });
      })
  </script>
