<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <% @jaunts.each do |jaunt| %>
      <% locations = jaunt.locations %>

      <%= link_to jaunt.title, :class =>"panel panel-default"  %>

      <br>
      <% locations.each do |location| %>
        <%= location.address %>
      <br>
  <% end %>
<% end %>
</div>
</div>



<% @jaunts.each do |jaunt| %>
  <% locations = jaunt.locations %>
  <% locations.each do |location| %>
  <% location.address %>
  <br>
<% end %>
<% end %>
